/*CSS DOCUMENT*/

img {
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
    padding top: 1.5em;
	padding bottom: 1.5em;
	padding left: 1em;
	padding right: 1em;
}

nav ul li a{
    display: inline;
    list-style-type: none;
    margin-top: 1em;
    margin-right: 1em;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.4em;
    color: rgb(96, 42, 49);
    letter-spacing: 0.05em;
    text-decoration: none;
}

h1,h2,h3,h4{
    font-family: sans-serif;
    color: rgb(96, 42, 49);
}

p{
    font-family: sans-serif;
    color: rgb(96, 42, 49);
}

ul{
    color: rgb(96, 42, 49);
    background-color: rgb(223, 209, 210);
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

body{
    background-color: rgb(223, 209, 210);
}
@media screen and (min-width: 40em) {
html{
max-width: 60em;
margin: auto;
}
}
/*Please don’t change this CSS stylesheet for the content hierarchy assginment */
