/*CSS DOCUMENT*/
img {
width: 100%; 
}
body{
background-color: rgb(223, 209, 210);
}
nav ul{
font-family: le-havre-rounded, sans-serif;
font-weight: 300;
font-style: normal;
padding: 0.5em;
word-spacing:1em;
color: rgb(96, 42, 49)  
}
nav ul li{
font-family: le-havre-rounded, sans-serif;
font-weight: 300;
font-style: normal;
font-size: 1.5em;
display: inline;
list-style-type: none;
color: rgb(96, 42, 49);
}
nav ul li a{
font-family: birra-2, serif;
font-weight: 700;
font-style: normal;
font-size: 2em;
text-decoration: none;
color: rgb(96, 42, 49);
}
body{
padding:1em;
font-family: le-havre-rounded, sans-serif;
font-weight: 300;
font-style: normal;
color: rgb(96, 42, 49);
}
h1{
font-family: birra-2, serif;
font-weight: 700;
font-style: normal;
font-size: 2em;
display: inline;
list-style-type: none;
color: rgb(96, 42, 49);
padding top: 1.5em;
padding bottom: 1.5em;
padding left: 1em;
padding right: 1em;
}
h2{
font-family: le-havre-rounded, sans-serif;
font-weight: 300;
font-style: normal;
font-size: 3em;
text-align: left;
margin-top: 0.25em;
margin-bottom: 0.25em;
color:rgb(96, 42, 49);
}
h3{
font-family: le-havre-rounded, sans-serif;
font-weight: 300;
font-style: normal;
font-size: 1.5em;
text-align: left;
}
h4{
font-family: le-havre-rounded, sans-serif;
font-weight: 300;
font-style: normal;
font-size: 1.25em;
margin: 0;
padding: 0;
padding-top: 0.5em;
border: 0;
color:rgb(96, 42, 49);
}
ul{
margin: 0;
padding: 0;
border: 0;
color:rgb(96, 42, 49);
}
p,a{
font-family: le-havre-rounded, sans-serif;
font-weight: 300;
font-style: normal;
font-size: 1.25em;
margin: 0;
padding: 0;
border: 0;
color:rgb(96, 42, 49);
}
figure{
margin:0;
}
@media screen and (min-width: 40em) {
html{
max-width: 60em;
margin: auto;
}
}
