/*CSS DOCUMENT*/

body {
  background-color: rgb(181, 189, 165);
  margin: 1em, 4em, 4em, 1em;
  padding: 3em, 3em, 3em, 3em;
}
  
h1 {
  color: rgb(220, 200 ,189);
  font-size: 5em; 
  margin: 0.5em, 2em, 0.5em, 2em;
  padding: 1em, 3em, 1em, 3em;
}
  
h2 {
  color: rgb(181, 167, 158);
  font-size: 4em;
  padding: 1em, 3em, 1em, 3em;
}

h3 { 
  color: rgb(217, 169, 120);
}
