/*CSS DOCUMENT*/

body {
  background-color: rgb(181, 189, 165);
}
  
h1 {
  color: rgb(220, 200 ,189);
  font-size: 3em; 
  margin: 0.5em, 2em, 0.5em, 2em;
  padding: 1em, 7em, 1em, 3em;
}
  
h2 {
  color: rgb(181, 167, 158);
  font-size: 2em;
  padding: 1em, 7em, 1em, 1em;
}

h3 { 
  color: rgb(217, 169, 120);
}
