/*CSS DOCUMENT*/
body {
  background-color: rgb(181, 189, 165);
  
h1 {
  color: rgb(0, 0, 255);
  font-size: 3em; 
  margin: 0.5em, 2em, 0.5em, 2em;
}
  
h2 {
  Color: rgb(255, 0, 0)
  font-size: 2em;
  margin: 0.5em, 2em, 0.5em, 2em;
}
